@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

:root {
    --header-height: 30px;
    --tab-selector-top: 3px;
    --default-tab-color: rgb(87, 55, 108);
    --main-page-gradient: linear-gradient(45deg, rgb(185, 24, 185), rgb(76, 0, 255), rgb(185, 24, 64));
    --button-gradient: linear-gradient(45deg, #ff7700, #ff3219, #ff0256);
    --selected-buton-gradient: linear-gradient(45deg, #ffd000, #6d9408, #93113e);
    --delete-button-gradient: linear-gradient(45deg, red, purple, blue);
    --edit-button-gradient: linear-gradient(45deg, #ffff00, #00cc98, #00ff44);
    --default-gradient-animation: bg 15s ease-in-out infinite alternate;
    --table-button-size: 50px;
}

* {
    color: white;
    font-family: 'Consolas', monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(46, 28, 58);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: transparent;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1;
}

section {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    background-color: rgb(46, 28, 58);
}

table {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: transparent;
    table-layout: fixed;
}

table, th, tr, td {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

tr:nth-child(1) {
    background-color: #00aeae;
}
th {
    padding: 10px 0 !important;
    text-transform: uppercase;
}

td:nth-last-child(1),
th:nth-last-child(1),
td:nth-last-child(2),
th:nth-last-child(2) {
    padding: 5px;
    width: 70px;
}

tr {
    background-color: #42356c;
}

tr:not(:nth-child(1)):hover {
    background-color: #302d6c !important;
}

.tab-selector {
    position: relative;
    display: inline-block;
    margin-top: var(--tab-selector-top);
    background-color: var(--default-tab-color);
    min-width: 100px;
    height: calc(100% - var(--tab-selector-top));
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
    padding: 0 3px;
    user-select: none;
}

.tab-selector:nth-child(1) {
    background-color: transparent;
    min-width: 50px;
}

.tab-selector:hover {
    filter: brightness(.9);
}

.tab-selector-unselected {
    background-color: rgb(240, 107, 19) !important;
}

.tab {
    background-color: var(--default-tab-color);
    /*top: var(--header-height);*/
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.tab:nth-child(1) {
    top: calc(-1 * var(--header-height));
    height: calc(100% + var(--header-height));
    background-image: var(--main-page-gradient);
    background-size: 400%;
    animation: var(--default-gradient-animation);
}

.sub-tab {
    position: relative;
    /*top: var(--header-height);*/
    top: 0;
    left: 0;
    margin: 5px 0;
    width: 100%;
    min-height: 30px;
}

.sub-tab button {
    background-color: transparent;
    background-image: var(--button-gradient);
    background-size: 400%;
    animation: var(--default-gradient-animation);
    border: none;
    outline: none;
    font-size: 100%;
    margin: 3px;
}

.button-selected {
    background-image: var(--selected-buton-gradient) !important;
}

.sub-tab button:hover {
    filter: brightness(.7);
}

.sub-tab button:active {
    filter: brightness(.5);
}

.sub-tab-info {
    float: right;
    margin: 3px;
    padding: 2px 5px;
    background-color: var(--default-tab-color);
}

.sub-tab-button {
    float: right;
    margin: 3px;
    padding: 2px 5px;
    border: none !important;
    border-radius: 0 !important;
    background-image: var(--button-gradient);
    background-size: 400%;
    animation: var(--default-gradient-animation);
}

.table-button {
    width: var(--table-button-size);
    height: var(--table-button-size);
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.table-button img {
    mix-blend-mode: multiply;
    opacity: .7;
}

.table-button:hover {
    filter: brightness(.7);
}

.table-button:active {
    filter: brightness(.5);
}

.edit-button {
    background-image: var(--edit-button-gradient);
    background-size: 400%;
    animation: var(--default-gradient-animation);
    border-radius: 10px;
    font-size: 30px;
}

.delete-button {
    background-image: var(--delete-button-gradient);
    background-size: 400%;
    animation: var(--default-gradient-animation);
    border-radius: 10px;
    font-size: 30px;
}

#main-title {
    display: block;
    position: absolute;
    top: calc(50% + var(--header-height));
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid white;
    border-radius: 30px;
    margin: 0;
    padding: 10px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 6vw;
    user-select: none;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    min-width: 600px;
    min-height: 200px;
    background-image: var(--button-gradient);
    background-size: 400%;
    animation: var(--default-gradient-animation);
    transition: .3s;
    padding: 10px;
}

#modal h1 {
    display: block;
    width: 100%;
    text-align: center;
}

#modal label {
    
}

#modal input {
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(175, 175, 175);
    font-size: 150%;
    width: 100%;
    margin-bottom: 20px;
    transition: .3s;
}

#modal input:focus {
    border-bottom: 2px solid white;
}

#modal label:focus {
    color: white;
}

#modal button {
    float: right;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    font-size: 120%;
    padding: 2px;
    margin: 5px;
}

#modal button:hover {
    filter: brightness(.8);
}

#modal button:active {
    filter: brightness(.6);
}

@keyframes bg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}
